<!doctype html>


<head>  #begin head
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <title>Alan Janis</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
 
  <style>  #begin CSS


  </style> #end CSS


</head> ## end head


<body> #begin body
  <div class="container"> #begin master container
    <div class="row" id="resume"> #begin master resume

      <div class="col-xs-4 sidebar"> #being sidebar div




      </div> # end sidebar div
      <div class="col-xs-8 content"> # begin content div






      </div> #end content div

    </div> # end main resume div
  </div> #end master container div
</body #end body

<html>