 <section class="section-contact">
          <h2 class="title">
            <span class="">Contact</span>
          </h2>
          <ul class="contact">
            <li class="icon-item clearfix">
              <i class="fa fa-2x fa-map-marker"></i>
              11838 W Marlowe Ave • Morrison, CO • US • 80465
            </li>
            <li class="icon-item clearfix">
              <i class="fa fa-2x fa-envelope "></i>
              alan.janis@alantotally.rocks
            </li>
            <li class="icon-item clearfix">
              <i class="fa fa-2x fa-phone "></i>
              (941) 286-3602
            </li>
          </ul>
          <ul class="profiles">
            <li class="icon-item clearfix">
              <i class="fa fa-2x fa-github "></i>
              <span>https://github.com/ajanis</span>
            </li>
            <li class="icon-item clearfix">
              <i class="fa fa-2x fa-github "></i>
              <span>https://github.com/constructorfleet</span>
            </li>
            <li class="icon-item clearfix">
              <i class="fa fa-2x fa-linkedin "></i>
              <span>https://www.linkedin.com/in/alanjanis/ </span>
            </li>
          </ul>
        </section>