        <section class="section-skills">
          <h2 class="title">
            <span class="">Experience</span>
          </h2>
          <div class="item">
            <div class="name">
              Linux Distributions
            </div>
            <div class="keywords">
              <span class="label label-default">RHEL/RHEL-based</span>
              <span class="label label-default">Debian/Debian-based</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              Config/Build Automation
            </div>
            <div class="keywords">
              <span class="label label-default">PXE/Kickstart/Preseed</span>
              <span class="label label-default">Ansible</span>
              <span class="label label-default">Saltstack</span>
              <span class="label label-default">Terraform</span>
              <span class="label label-default">Docker-Compose</span>
              <span class="label label-default">Cloud-Config</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              VM
            </div>
            <div class="keywords">
              <span class="label label-default">KVM/libvirt</span>
              <span class="label label-default">ECS</span>
              <span class="label label-default">VMWare/ESXi</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              Container
            </div>
            <div class="keywords">
              <span class="label label-default">Docker</span>
              <span class="label label-default">Podman</span>
              <span class="label label-default">LXC</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              Cloud
            </div>
            <div class="keywords">
              <span class="label label-default">OpenStack</span>
              <span class="label label-default">AWS</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              Webservers/Proxy/Load Balancing
            </div>
            <div class="keywords">
              <span class="label label-default">NGINX</span>
              <span class="label label-default">Apache</span>
              <span class="label label-default">HAProxy</span>
              <span class="label label-default">Traefik</span>
              <span class="label label-default">F5</span>
              <span class="label label-default">A10</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              Nameservers
            </div>
            <div class="keywords">
              <span class="label label-default">BIND</span>
              <span class="label label-default">PowerDNS</span>
              <span class="label label-default">DNSMasq</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              Database
            </div>
            <div class="keywords">
              <span class="label label-default">MySQL/Galera</span>
              <span class="label label-default">MySQL Variants</span>
              <span class="label label-default">PostgreSQL</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              Storage
            </div>
            <div class="keywords">
              <span class="label label-default">NetApp - 7-Mode Certified, Clustered-Mode Certified</span>
              <span class="label label-default">Ceph - CephFS, RBD</span>
              <span class="label label-default">Protocols - ISCSI, DAS, NFS, ATAoE, Fibre Channel</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              CDN/Caching
            </div>
            <div class="keywords">
              <span class="label label-default">Akamai</span>
              <span class="label label-default">Level3</span>
              <span class="label label-default">NGINX</span>
              <span class="label label-default">Squid</span>
              <span class="label label-default">Varnish</span>
              <span class="label label-default">Memcached</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              Version Control
            </div>
            <div class="keywords">
              <span class="label label-default">Git/Github</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              Package Management
            </div>
            <div class="keywords">
              <span class="label label-default">RPM/Yum</span>
              <span class="label label-default">DPKG/Apt</span>
              <span class="label label-default">Pipenv</span>
              <span class="label label-default">Poetry</span>
              <span class="label label-default">Homebrew</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              Monitoring / Logging
            </div>
            <div class="keywords">
              <span class="label label-default">InfluxDB/TickStack</span>
              <span class="label label-default">Grafana</span>
              <span class="label label-default">Nagios</span>
              <span class="label label-default">Zabbix</span>
              <span class="label label-default">Logstash</span>
              <span class="label label-default">Prometheus</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              Languages
            </div>
            <div class="keywords">
              <span class="label label-default">Bash</span>
              <span class="label label-default">Python</span>
            </div>
          </div>
          <div class="item">
            <div class="name">
              Network / Firewall
            </div>
            <div class="keywords">
              <span class="label label-default">Cisco IOS/IOS-like</span>
              <span class="label label-default">Iptables</span>
              <span class="label label-default">PFSense</span>
              <span class="label label-default">OPNSense</span>
            </div>
          </div>
        </section>
