    .section-work .item {
      margin-bottom: 2.5rem;
    }

    .section-work .item .position {
      font-weight: bold;
      color: #252324;
      text-transform: uppercase;
    }

    .section-work .item .company {
      padding: 0.5rem 0 0.5rem 0;
      color: #605E5F;
      font-weight: bold;
    }

    .section-work .item .summary,
    .section-work .item .highlights {
      font-style: italic;
      text-align: justify;
    }
