 .section-name {
      margin: 0rem 0 5rem 0;
      background: #E6EAED;
      padding: 6rem 0 4rem 0;
    }

    .section-name h2 {
      color: #6D6D6D;
      text-transform: unset;
      text-align: center;
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
      font-weight: bold;
      margin-top: 1rem;
      background: none;
      line-height: 2rem;
    }