
    section {
      margin-bottom: 5rem;
    }

    [class^="section-"]>.title {
      text-transform: uppercase;
      padding: 15px 0;
      margin: 0;
    }

    [class^="section-"]>.title .title-icon,
    [class^="section-"]>.title span {
      display: inline-block;
      vertical-align: middle;
    }

    [class^="section-"]>.title span {
      margin-left: 2px;
    }

    [class^="section-"]>.title .title-icon {
      background-color: whitesmoke;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      padding: 0.4rem 0.45rem;
    }