    .section-contact .fa {
      padding: 0.8rem 0 0 0;
      color: #646466;
      text-align: center;
      display: block;
      margin: 0 auto 0.8rem auto;
    }

    .section-contact ul.contact {
      list-style-type: none;
      margin: 0.5rem 0 0.5rem 0;
      padding: 0;
    }

    .section-contact ul.contact li {
      margin: 1rem 0 1rem 0;
      text-align: center;
    }

    .section-contact ul.profiles {
      list-style-type: none;
      margin: 4rem 0 0.5rem 0;
      padding: 0;
    }

    .section-contact ul.profiles li {
      margin: 1rem 0 1rem 0;
    }

    .section-contact ul li span {
      text-align: center;
      display: inherit;
    }