    .section-education .item {
      margin-bottom: 3rem;
      text-align: center;
    }

    .section-education .studyTitle {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.3rem;
    }

    .section-education .courses {
      font-size: 1.2rem;
    }

    .section-education ul.courses {
      list-style-type: none;
      margin: 0.5rem 0 0.5rem 0;
      padding: 0;
    }

    .section-education .ul.courses li {
      margin: 0;
    }

    .section-education .institution {
      font-size: 1.2rem;
    }

    .section-education .date {
      font-size: 1.2rem;
    }
