   <section class="section-awards">
          <h2 class="title">
            <span class=""><i class="fa fa-star" aria-hidden="true"></i>
              Awards<i class="fa fa-star" aria-hidden="true"></i>
            </span>
          </h2>
          <ul>
            <li class="item">
              <div class="title">
                Engineer of the Year
                <span class="date">
                  | Nov 2014
                </span>
                <span class="awarder">
                  | GSP Award Committee
                </span>
              </div>
              <div class="summary">
                <p></p>
                <p>Providing unwavering exceptional expertise, service, and professionalism</p>
                <p>Worked on-site with a very high-value client who wished to validate OpenStack
                  reliability on an upcoming generation of hardware and rethink their internal cloud
                  design. Together we developed tools to automate containerized deployment (pre-
                  docker-openstack) and I guided the team in testing, deploying, managing, and
                  monitoring their OpenStack cloud. My unique, intuitive and maintainable design
                  prompted immediate praise from the client, for which I earned WWT&#x27;s global
                  service provider engineer of the year award.</p>
              </div>
            </li>
            <li class="item">
              <div class="title">
                Guest Speaker for Cisco at OpenStack summit
                <span class="date">
                  | Apr 2013
                </span>
                <span class="awarder">
                  | Cisco Cloud Team
                </span>
              </div>
              <div class="summary">
                <p></p>
                <p>I was Invited by Cisco&#x27;s OpenStack team to speak to their engineers about my
                  experiences, improvements, and pitfalls I had found through deploying OpenStack on
                  Cisco UCS hardware. These experiences were contributed to their official
                  documentation.</p>
              </div>
            </li>
          </ul>
        </section>