 <section class="section-work">
          <h2 class="title">
            <span class="">Projects</span>
          </h2>
          <div class="item">
            <div class="position">
              <i class="fa fa-1x fa-server"></i>
              <span>home-lab</span>
            </div>
            <div class="company">
            </div>
            <div class="summary">
              <p>Highly Available compute cluster with distributed, tiered storage dedicated to home
                automation, image-processing, media services and education/R&D projects.</p>
            </div>
            <ul class="highlights">
              <li>Converged, highly-available compute environment with 224 CPU cores, 512GB RAM, (4x)
                Nvidia Quadro P1000 GPUs [SR-IOV], 10TB (SAS3 SSD) Ceph Cluster [RBD: KVM/LXC Block
                Storage ]</li>
              <li>180TB (SAS3 HDD) Ceph Cluster [CephFS: Shared Media and AutoFS Home Directories]</li>
              <li>Dedicated Machine-Learning, Image Processing, and Home-Automation environment</li>
              <li>10gbit and 25gbit network</li>
              <li>Running and maintaining my Ceph cluster has served as a great learning platform,
                providing reliable and cost-effective storage.</li>
              <li>I apply tools and knowledge I've built to simplify and automate my home network to learn
                for work and vice-versa.</li>
              <li>I have automated metrics collection as a part of my build pipeline to monitor systems
                and services.</li>
              <li>Golden images are used for both KVM and LXC environments with Ansible handling final
                configuration.</li>
            </ul>
            <div class="company">
              <span class="name">
                <span><i class="fa fa-1x fa-pie-chart"></i></span>
                <span>https://stats.constructorfleet.stream</span>
              </span>
            </div>
            <div class="keywords">
              <span class="label label-default">Proxmox</span>
              <span class="label label-default">Ceph</span>
              <span class="label label-default">KVM</span>
              <span class="label label-default">LXC</span>
              <span class="label label-default">Docker</span>
              <span class="label label-default">Ubiquiti</span>
              <span class="label label-default">Ansible</span>
              <span class="label label-default">Home Automation</span>
              <span class="label label-default">IoT</span>
              <span class="label label-default">Grafana/Loki</span>
              <span class="label label-default">InfluxDB OSS2</span>
              <span class="label label-default">Prometheus</span>
              <span class="label label-default">Plex</span>
              <span class="label label-default">Git/Github</span>
            </div>
          </div>
        </section>