<section class="section-name">
          <h1>Alan Janis</h1>
          <h2>Scalable Infrastructure • Private Cloud • Distributed Storage • Metrics Collection • Log
            Aggregation • Data Ingest • Monitoring • Graphing • Alerting • Site Reliability • Full Stack
            Automation • Performance Tuning • R&amp;D</h2>
        </section>