 <section class="section-summary">
          <h2 class="title">
            <span class="">Background</span>
          </h2>
          <p>
            <i>I think more people should build a private cloud with distributed &amp; tiered storage, learn
              the tools to deploy it and collect the data to see into it. At home. For fun.</i>
          </p>
          <p>
            I do this just to support everyday home automation and entertainment - and because I love
            building cool things!
          </p>
          <p>
            My career path began with Obsidian Hosting, a company I started to provide simple deployment of
            multiplayer game servers, which I bundled with voice chat and a variety of web hosting services.
            As I grew that infrastructure on a budget, I came to appreciate the open-source community. I
            repurposed old hardware for my home network and started looking for reasons to integrate any
            project that grabbed my attention. Not long after, I took a position with a local web hosting
            company for the opportunity to learn from an experienced team in a large-scale, high-uptime
            environment.
            In 2010, a senior role with Yahoo brought me to Colorado, where the thriving dev community has
            continued to shape my personal and professional relationships.
            In addition to the snow, rivers, and mountains, &#x27;building cool things&#x27; remains at the
            top of my passions.
          </p>
        </section>