    body {
      background: #D2D4D3;
      font: 15px Arial, Helvetica, sans-serif;
      line-height: 1.4;
      color: #929292;
    }

    .container {
      margin: 0 auto;
      width: 1800px;
      padding: 10%;
    }

    #resume {
      border-radius: 5px;
      border: 1px solid #C7C7C7;
      overflow: hidden;
    }

