    /* Content */
    .content {
      padding: 0 5rem 0 5rem;
      padding-bottom: 0px;
      background: #FFFFFF;
      margin-bottom: -99999px;
      padding-bottom: 99999px;
    }

    .content h1 {
      color: #3C3C3C;
      text-transform: uppercase;
      text-align: center;
      font-size: 4rem;
      letter-spacing: 1.0rem;
      font-weight: bold;
    }

    .content h2 {
      color: #646466;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
      font-weight: bold;
      margin-bottom: 1rem !important;
      background: #E6EAED;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
    }

    .content a:link,
    .content a:hover,
    .content a:visited {
      text-decoration: none;
      color: #6D6D6D;
    }
