    /* Sidebar */
    .sidebar {
      padding: 2rem;
      background: #E6EAED !important;
      margin-bottom: -99999px;
      padding-bottom: 99999px;
    }

    .sidebar,
    .sidebar h1 {
      color: #656567 !important;
    }

    .sidebar h2 {
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
      font-weight: bold;
      margin-bottom: 2rem !important;
      background: #646466;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
    }


    .sidebar a:link,
    .sidebar a:hover,
    .sidebar a:visited {
      text-decoration: none;
      color: #ffffff !important;
    }
